.featuredProducts {
  margin: 100px 200px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 50px;

    h1 {
      flex: 2;
    }

    p {
      flex: 3;
      color: gray;
      font-size: 15px;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
